<nav class="navbar navbar-dark bg-primary" >
  <a class="navbar-brand" href="/">
    Angular single Crud
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li
        *ngFor="let empleado of empleadoArray"
        class="list-group-item list-group-item-action "
        (click)="abrirParaEditar(empleado)"
        [class.active]="empleado==seleccionarEmpleado"
        >
        <span class="badge text-bg-secondary">{{empleado.id}}</span>  {{empleado.name}}-{{empleado.country}}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            inserta un nuevo  empleado
            <div class="form-group">
              <input class="form-control" [(ngModel)]="seleccionarEmpleado.name" type="text" placeholder="Inserta el nombre">
            </div>
            <div class="form-group">
              <input class="form-control" [(ngModel)]="seleccionarEmpleado.country" type="text" placeholder="Inserta el pais">
            </div>
            <button  class="btn btn-primary" (click)="agregarEditar()" >
              Agregar
            </button>
            <button
              *ngIf="seleccionarEmpleado.id != 0"
              class="btn btn-danger"
              (click)="eliminarEmpleado()">
              Eliminar
            </button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
